nav {
    display: flex;
    justify-content: space-around;
    min-height: 20vh;
    background: #8096acb7;
}

.nav-links {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'exo2', sans-serif;
}

.nav-title {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'exo2', sans-serif;
    color: white;
}